.Team {
  position: absolute;
  height: var(--box-height);
  display: flex;
  bottom: var(--champselect-margin-bot);
  z-index: 99;

  .TeamName {
    font-size: 40px;
    color: white;
    font-family: "Saira Condensed", sans-serif;
    margin-top: -15px;

    &.WithoutCoaches {
      font-size: 60px;
      margin-top: -20px;
    }
  }

  .CoachName {
    font-size: 20px;
    margin-top: -20px;
  }

  .TeamScore {
    font-size: 60px;
    margin-top: -20px;
    color: white;
    font-family: "Saira Condensed", sans-serif;
    width: var(--box-ban-height);
    text-align: center;
    height: calc(100% + 23px);
  }

  @import "./picks";
  @import "./bans";

  &.TeamBlue {
    left: 65px;
    transform: rotate(-1.7deg);
    .TeamScore {
      border-right: 3px solid black;
    }

    .BansWrapper {
      right: -9px;
      bottom: calc(100% + 26px);
      transform: rotate(1.7deg);
      z-index: 0;
    }
    .Bans {
      // justify-content: flex-end;
      flex-direction: row;
      right: 0;
      .Ban {
        .BanImage.Active::before {
          background-image: linear-gradient(
            to left,
            var(--color-blue) 0%,
            rgba(0, 0, 0, 0) 50%,
            var(--color-blue) 100%
          );
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(
            to left,
            var(--color-blue) 0%,
            rgba(0, 0, 0, 0) 50%,
            var(--color-blue) 100%
          );
        }
      }
    }

    .TeamName {
      margin-right: auto;
      margin-left: 15px;
    }
  }

  &.TeamRed {
    right: 61px;
    transform: rotate(1.7deg);
    .BansWrapper {
      left: -4px;
      bottom: calc(100% + 26px);
      transform: rotate(-1.7deg);
      z-index: 0;
    }
    .TeamScore {
      border-left: 3px solid black;
    }

    .Bans {
      display: flex;
      // flex-direction: row-reverse;
      .Ban {
        .BanImage.Active::before {
          background-image: linear-gradient(
            to left,
            var(--color-red) 0%,
            rgba(0, 0, 0, 0) 50%,
            var(--color-red) 100%
          );
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(
            to left,
            var(--color-red) 0%,
            rgba(0, 0, 0, 0) 50%,
            var(--color-red) 100%
          );
        }
      }
    }

    .TeamName {
      margin-left: auto;
      text-align: right;
      margin-right: 15px;
    }
  }
}
